body{
align: center;
font-family:  Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif;
line-height: 1.6;
}
:is(h1, h2, h3, h4, h5, h6){
  font-style: italic;
  letter-spacing: 2px;
  background-color:  #5d6d7e;
  color:  #f4f6f7  ;
}
p.problems{
  background-color:   #17202a ;
  font-weight: bold;
  text-decoration: none;
  width: 70px;
  color:   #f0f3f4 ;
  padding: 20px;
  margin: 10px;
  text-align: center;
}
a.problem{
  text-decoration: none;
  color: white;
}
#top{
  text-decoration: none;
}
